.only-mobile {
  display: none;
  @include mobile {
    display: block;
  }
}

%layout-center {
  width: $width;
  margin: 0 auto;
  padding: 4rem 3rem;
  @include mobile {
    @include box(100%);
  }
}
