.main {
  &__menu {
    padding: 5rem 0;
    ul {
      display: flex;
      justify-content: space-between;
      li {
        a {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 0.6rem;
          position: relative;
          font-weight: 500;
          font-size: 1.5rem;
          &.new::after {
            content: "";
            width: 1.6rem;
            height: 1.6rem;
            position: absolute;
            top: 0;
            right: 0;
            @include bg("new.svg", $x: right, $y: top);
          }
          span {
            display: inline-flex;
            justify-content: center;
            align-items: center;
            width: 8rem;
            height: 8rem;
            border-radius: 2.4rem;
            background-color: $grayf1;
            &#lottie1 {
              overflow: hidden;
            }
            &.quality {
              background-color: #c61515;
            }
            img {
              width: 6rem;
            }
          }
        }
      }
    }
  }
}
