.main {
  @include mobile {
    width: 100%;
    min-width: 32rem;
    max-width: 76.8rem;
  }
  &__menu {
    padding: 5rem 0;
    @include mobile {
      padding: 2rem;
      @include mobileDivider;
    }
    .m0auto {
      @include mobile {
        width: 100%;
        padding: 0;
      }
      ul {
        display: flex;
        justify-content: space-between;
        @include mobile {
          display: grid;
          grid-template-columns: repeat(5, 1fr);
          gap: 1.2rem 1rem;
        }
        li {
          @include mobile {
            @for $i from 1 through 10 {
              $order: $i;
              @if $i == 2 {
                $order: 7;
              }
              &:nth-child(#{$i}) {
                order: $order;
              }
            }
          }
          a {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 0.6rem;
            font-size: 1.5rem;
            font-weight: 500;
            color: $gray28;
            white-space: nowrap;
            @include mobile {
              font-size: 1.1rem;
            }
            @include mobileMin {
              font-size: 0.92rem;
            }
            &.new span::after {
              content: "";
              width: 1.6rem;
              height: 1.6rem;
              @include position(top, 0, right, 0);
              @include bg("svg/new.svg", $x: right, $y: top);
              @include mobile {
                top: -0.2rem;
                right: -0.2rem;
              }
            }
            span {
              display: flex;
              justify-content: center;
              align-items: center;
              width: 8rem;
              height: 8rem;
              position: relative;
              border-radius: 2.4rem;
              background-color: $whitef1;
              &#lottie1 {
                overflow: hidden;
                @include mobile {
                  padding: 0;
                }
              }
              &.quality {
                background-color: #c61515;
              }
              @include mobile {
                width: 100%;
                max-width: 8rem;
                height: auto;
                aspect-ratio: 1/1;
                border-radius: 1.8rem;
                box-sizing: border-box;
                padding: 0.6rem;
              }
              img {
                width: 6rem;
                @include mobile {
                  width: 100%;
                  max-width: 6rem;
                }
              }
            }
          }
        }
      }
    }
  }
  &__register {
    .m0auto {
      @include mobile {
        width: 100%;
        padding: 0;
      }
      a {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: $white;
        padding: 0.4rem 2.4rem;
        border: 0.1rem solid $grayec;
        border-radius: 0.8rem;
        box-shadow: rgba(0, 0, 0, 0.06) 0 0.2rem 0.4rem 0;
        @include mobile {
          padding: 1rem 2rem;
          border: none;
          border-bottom: 0.1rem solid $whitef1;
          border-radius: 0;
          box-shadow: none;
        }
        span {
          display: flex;
          .register-text {
            display: flex;
            align-items: center;
            @include mobile {
              flex-direction: column;
              align-items: baseline;
            }
            .title {
              margin: 0 0.8rem 0 1.2rem;
              @include font17;
              font-weight: 700;
              color: $gray28;
              @include mobile {
                @include font15;
              }
            }
            .license {
              @include font15;
              font-weight: 500;
              color: $gray5a;
              @include mobile {
                font-size: 1.4rem;
              }
              strong {
                margin-left: 0.4rem;
                color: $purple;
              }
            }
          }
        }
        span#lottie2 {
          width: 5.6rem;
        }
      }
    }
  }
  &__best {
    padding: 4rem 3rem;
    @include mobile {
      padding: 2.4rem 0 0 0;
      overflow: hidden;
      @include mobileDivider;
    }
    .m0auto {
      position: relative;
      padding: 0;
      @include mobile {
        width: 100%;
      }
      > h2 {
        @include mobile {
          margin-left: 2rem;
        }
      }
      > span {
        @include font17;
        font-weight: 500;
        color: $gray5a;
        @include mobile {
          margin-left: 2rem;
          @include font13;
        }
      }
      > button {
        position: absolute;
        top: 2.4rem;
        right: 0;
      }
    }
  }
  &__review {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4rem;
    @extend %layout-center;
    padding: 4rem 3rem;
    @include mobile {
      flex-direction: column;
      align-items: flex-start;
      gap: 2.4rem;
      width: 100%;
      position: relative;
      padding: 2.4rem 2rem 5.8rem;
      @include mobileDivider;
      box-sizing: border-box;
      &::after {
        content: "";
        width: 100%;
        height: 10rem;
        position: absolute;
        left: 0;
        bottom: 0;
        background: linear-gradient(
          rgba(255, 255, 255, 0.1),
          rgba(255, 255, 255, 0.9),
          rgba(255, 255, 255, 0.95),
          rgba(255, 255, 255, 0.98),
          rgba(255, 255, 255, 0.99),
          rgb(255, 255, 255)
        );
      }
    }
    &__left {
      display: flex;
      flex-direction: column;
      gap: 2.4rem;
      @include mobile {
        gap: 0.8rem;
      }
      .count-customer {
        line-height: 4.4rem;
        font-weight: 700;
        font-size: 3.2rem;
        color: $gray28;
        word-break: keep-all;
        @include mobile {
          width: 24rem;
          line-height: 3.4rem;
          font-size: 2.2rem;
        }
        span {
          color: $purple;
        }
      }
      .count-review {
        width: 28rem;
        font-weight: 400;
        @include font17;
        word-break: keep-all;
        color: $gray28;
        @include mobile {
          gap: 0.8rem;
          width: 25rem;
          @include font15;
        }
      }
      .more-review {
        width: fit-content;
        padding: 1.2rem;
        border-radius: 0.8rem;
        background-color: $purple;
        color: $white;
        @include font15;
        font-weight: 500;
        transition: background 0.3s ease;
        @include mobile {
          @include position(left, 50%, bottom, 2.4rem);
          position: absolute;
          z-index: 1;
        }
        &:hover {
          background-color: $purpleHover;
          @include mobile {
            background-color: $purple;
          }
        }
      }
    }
    &__right {
      @include mobile {
        width: 100%;
      }
      > ul {
        display: flex;
        flex-direction: column;
        gap: 4rem;
        .review-card {
          display: flex;
          justify-content: space-between;
          gap: 4rem;
          padding: 2rem;
          position: relative;
          background-color: $whitef6;
          border-radius: 0.8rem;
          @include mobile {
            flex-direction: column;
            gap: 1.6rem;
            background-color: $white;
            box-shadow: rgba(0, 0, 0, 0.12) 0 0 1.6rem;
          }
          &__left {
            .customer-cartype {
              font-weight: 400;
              @include font15;
              color: $gray28;
              @include mobile {
                @include font13;
              }
              .customer {
                padding-right: 1rem;
                @include mobile {
                  font-weight: 700;
                  font-size: 1.4rem;
                }
              }
              .cartype {
                position: relative;
                padding-left: 1.4rem;
                &::before {
                  content: "";
                  width: 0.3rem;
                  height: 0.3rem;
                  @include position(left, 0, top, 50%);
                  border-radius: 0.3rem;
                  background-color: $gray28;
                }
              }
            }
            .star-rate {
              display: flex;
              align-items: center;
              gap: 0.8rem;
              margin-top: 1rem;
              @include mobile {
                img {
                  width: 1.6rem;
                }
              }
              .date {
                @include font13;
                color: $gray5a;
              }
            }
            .customer-review {
              max-width: 36.9rem;
              height: 14rem;
              margin: 1.6rem 0;
              font-weight: 400;
              @include font15;
              color: $gray28;
              word-break: keep-all;
              @include mobile {
                max-width: 100%;
                height: 8rem;
                margin: 1.2rem 0;
              }
              &:not(.--active) {
                text-overflow: ellipsis;
                overflow: hidden;
                -webkit-line-clamp: 7;
                -webkit-box-orient: vertical;
                display: -webkit-box;
                @include mobile {
                  -webkit-line-clamp: 4;
                }
              }
              &.--active {
                max-width: 100%;
                height: fit-content;
              }
            }
            .review-more {
              margin-bottom: 3.2rem;
              font-weight: 500;
              @include font15;
              text-decoration: underline;
              color: $gray5a;
              @include mobile {
                margin-bottom: 2.2rem;
              }
            }
            .review-tags {
              display: flex;
              flex-wrap: wrap;
              gap: 1.2rem;
              margin-bottom: 1.6rem;
              @include mobile {
                gap: 0.8rem;
              }
            }
            .recommend-btn {
              display: flex;
              align-items: center;
              gap: 0.4rem;
              padding: 0.6rem 1.4rem 0.6rem 1.2rem;
              border: 0.1rem solid $graydd;
              border-radius: 10rem;
              background-color: $white;
              font-weight: 500;
              @include font15;
              @include mobile {
                position: absolute;
                bottom: 2rem;
                @include font13;
              }
              &::before {
                content: "";
                width: 1.8rem;
                height: 1.8rem;
                @include bg("svg/thumb.svg");
              }
              > span {
                font-weight: 700;
              }
            }
          }
          &__right {
            min-width: 25.6rem;
            height: fit-content;
            padding: 2rem;
            background-color: $white;
            border: 0.1rem solid $grayec;
            border-radius: 0.8rem;
            @include mobile {
              display: flex;
              align-items: center;
              gap: 1rem;
              min-width: 20rem;
              margin-bottom: 5.4rem;
              padding: 1.2rem;
              background-color: $whitef6;
            }
            @include mobileMin {
              flex-direction: column;
              align-items: flex-start;
            }
            .product-info {
              display: flex;
              gap: 1.6rem;
              margin-bottom: 1.6rem;
              padding-bottom: 1.6rem;
              border-bottom: 0.1rem solid $grayec;
              @include mobile {
                align-items: center;
                gap: 1rem;
                margin-bottom: 0;
                padding-bottom: 0;
                border-bottom: none;
                &::after {
                  content: "";
                  width: 0.1rem;
                  height: 7.5rem;
                  background-color: $grayec;
                }
              }
              @include mobileMin {
                border-bottom: 0.1rem solid $grayec;
                &::after {
                  content: "";
                  background-color: transparent;
                }
              }
              &__img {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 8.8rem;
                height: 8.8rem;
                position: relative;
                border-radius: 0.8rem;
                background-color: $whitef6;
                overflow: hidden;
                @include mobile {
                  width: 6rem;
                  min-width: 6rem;
                  height: 6rem;
                  background-color: $white;
                }
                .img-label {
                  position: absolute;
                  top: 0;
                  left: 0;
                  padding: 0.2rem 0.6rem;
                  border-radius: 0.8rem 0;
                  line-height: 1.4rem;
                  font-weight: 500;
                  font-size: 1.3rem;
                  text-transform: uppercase;
                  background-color: $purple;
                  color: $white;
                  @include mobile {
                    padding: 0.2rem 0.4rem;
                    font-size: 1rem;
                  }
                }
                img {
                  width: 6rem;
                  aspect-ratio: 1/1;
                }
              }
              &__txt {
                display: flex;
                flex-direction: column;
                gap: 0.4rem;
                font-weight: 400;
                @include font15;
                color: $gray5a;
                @include mobile {
                  gap: 0;
                  @include font13;
                }
                .title {
                  @include font17;
                  word-break: keep-all;
                  color: $gray28;
                  @include mobile {
                    @include font13;
                  }
                }
              }
            }
            .store-info {
              @include mobile {
                flex-direction: column;
              }
              .visit-store,
              .wheel-align,
              .store-location {
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 0.8rem;
                &::before {
                  content: "";
                  display: inline-block;
                  width: 2.4rem;
                  height: 2.4rem;
                  @include mobile {
                    display: none;
                  }
                }
                > div {
                  display: flex;
                  flex-direction: column;
                  span {
                    font-weight: 400;
                    @include font15;
                    color: $gray28;
                    @include mobile {
                      @include font13;
                      color: $gray5a;
                    }
                    &:last-child {
                      font-weight: 400;
                      @include font13;
                      color: $gray96;
                      @include mobile {
                        display: none;
                      }
                    }
                  }
                }
                @include mobile {
                  span {
                    display: flex;
                    &::before {
                      content: "";
                      min-width: 1.8rem;
                      height: 1.8rem;
                      @include bg("svg/dot.svg");
                    }
                  }
                }
              }
              .visit-store {
                font-weight: 400;
                @include font15;
                color: $gray28;
                @include mobile {
                  @include font13;
                  color: $gray5a;
                }
                &::before {
                  @include bg(
                    "svg/repair.svg",
                    $width: 2.4rem,
                    $height: 2.4rem
                  );
                }
              }
              .wheel-align {
                margin: 0.8rem 0;
                @include mobile {
                  margin: 0;
                }
                &::before {
                  @include bg(
                    "svg/type=repair.svg",
                    $width: 2.4rem,
                    $height: 2.4rem
                  );
                }
              }
              .store-location {
                margin-bottom: 1.6rem;
                @include mobile {
                  margin-bottom: 0;
                  word-break: keep-all;
                }
                &::before {
                  @include bg(
                    "svg/type=spot.svg",
                    $width: 2.4rem,
                    $height: 2.4rem
                  );
                }
              }
            }

            .more-btn.product {
              width: 100%;
            }
          }
        }
      }
    }
  }
  &__monthly-special {
    @extend %layout-center;
    padding: 4rem 3rem 4rem;
    @include mobile {
      padding: 2.4rem 0;
      @include mobileDivider;
      box-sizing: border-box;
      > h2.section-title {
        margin-left: 2rem;
      }
    }
    .swiper.monthly-special {
      width: 100%;
      height: 100%;
      .swiper-wrapper {
        .swiper-slide {
          @include mobile {
            width: 26rem !important;
          }
          figure {
            display: flex;
            flex-direction: column;
            gap: 1.6rem;
            @include mobile {
              gap: 1.2rem;
              margin-left: 2rem;
            }
            div {
              border-radius: 0.8rem;
              overflow: hidden;
              img {
                width: 100%;
              }
            }
            figcaption {
              display: flex;
              flex-direction: column;
              gap: 0.2rem;
              .section-title {
                padding-bottom: 0;
              }
              span:not(.section-title) {
                @include font17;
                font-weight: 500;
                color: $gray5a;
                @include mobile {
                  @include font13;
                }
              }
            }
          }
        }
      }
    }
  }
  &__buyoption-partnership {
    display: flex;
    justify-content: space-between;
    gap: 2.4rem;
    @extend %layout-center;
    padding: 4rem 3rem;
    @include mobile {
      gap: 0;
      width: 100%;
      max-width: $web;
      padding: 2.4rem 2rem;
      box-sizing: border-box;
    }
    .card {
      display: flex;
      justify-content: center;
      align-items: center;
      flex: 1;
      gap: 1.2rem;
      padding: 2.4rem 5rem;
      border-radius: 1.6rem;
      border: 1px solid $graydd;
      cursor: pointer;
      @include mobile {
        width: 100%;
        gap: 0.8rem;
        padding: 1.2rem 1.6rem;
        border: none;
        border-radius: 0;
        background-color: $whitef6;
      }
      .icon {
        width: 5.6rem;
        height: 5.6rem;
        @include mobile {
          width: 2.4rem;
          height: 2.4rem;
        }
      }
      .txt {
        display: flex;
        flex-direction: column;
        color: $gray28;
        .title {
          @include font19;
          font-weight: 700;
          @include mobile {
            @include font13;
          }
        }
        .description {
          @include font15;
          font-weight: 400;
          @include mobile {
            display: none;
          }
        }
      }
    }
    .buy-option {
      position: relative;
      @include mobile {
        border-radius: 0.8rem 0 0 0.8rem;
        &::after {
          content: "";
          width: 0.1rem;
          height: 3.2rem;
          position: absolute;
          right: 0;
          background-color: $graye7;
        }
      }
      &__icon {
        @include bg("svg/shopping_bag.svg", $width: 5.6rem, $height: 5.6rem);
        @include mobile {
          @include bg("svg/shopping_bag.svg", $width: 2.4rem, $height: 2.4rem);
        }
      }
    }
    .partnership {
      @include mobile {
        border-radius: 0 0.8rem 0.8rem 0;
      }
      &__icon {
        @include bg("svg/handshake.svg", $width: 5.6rem, $height: 5.6rem);
        @include mobile {
          @include bg("svg/handshake.svg", $width: 2.4rem, $height: 2.4rem);
        }
      }
    }
  }
}
