.gnb {
  ul {
    display: flex;
    gap: 4rem;
    li {
      @include font19;
      font-weight: 500;
      a {
        position: relative;
        color: $gray28;
      }
      a.new::after {
        content: "";
        width: 1.6rem;
        height: 1.6rem;
        @include position(top, -0.1rem, right, -1.6rem);
        @include bg("new.svg", $x: right, $y: top);
      }
    }
  }
}
