.swiper {
  width: 100%;
  position: relative;
  .swiper-wrapper {
    .swiper-slide {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.8rem;
      background: $black;
      .slide-bg {
        width: 100%;
        img {
          display: block;
          max-width: 118.4rem;
          margin: 0 auto;
          object-fit: cover;
          @include mobile {
            width: 100%;
          }
        }
      }
    }
  }
  .swiper-button-next,
  .swiper-button-prev {
    display: none;
    width: 4rem;
    height: 4rem;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.3);
    color: $white;
    border-radius: 50%;
    &::after {
      font-size: 1.4rem;
      font-weight: 700;
    }
  }
  .swiper-button-next {
    right: calc(50% - 61.8rem);
  }
  .swiper-button-prev {
    left: calc(50% - 61.8rem);
  }
  .swiper-pagination-fraction {
    width: fit-content;
    line-height: 1.8rem;
    position: absolute;
    bottom: 2rem;
    left: auto;
    right: calc(50% - 59.2rem);
    padding: 0.8rem;
    border-radius: 0.4rem;
    background-color: rgba(0, 0, 0, 0.4);
    color: #fff;
    font-size: 1.5rem;
    font-weight: 500;
    white-space: nowrap;
    backdrop-filter: blur(0.2rem);
    box-shadow: rgba(0, 0, 0, 0.16) 0 0 0.8rem 0;
    .swiper-res {
      display: none;
    }
    @include mobile {
      display: flex;
      align-items: center;
      padding: 0.2rem 1rem;
      bottom: 1rem;
      right: 0.8rem;
      border-radius: 0.3rem;
      font-size: 1.2rem;
      .swiper-pagination-all {
        margin: 0 0.3rem;
      }
      .swiper-res {
        display: block;
      }
    }
  }
}
