section.product-list {
  @include mobile {
    padding: 2.4rem 0;
    &.main__best-seller {
      padding: 2.4rem 0 0 0;
    }
    &:not(.main__storage) {
      @include mobileDivider;
    }
  }
  .list-wrap {
    @extend %layout-center;
    position: relative;
    &:has(.section-description) {
      > h2 {
        padding-bottom: 0;
      }
      .swiper-container {
        padding-top: 1.6rem;
      }
    }
    @include mobile {
      @include box(100%);
      padding: 0;
    }
    > h2 {
      @include flex-center-vert;
      &:has(> span.product) {
        > span.product::before {
          content: "";
          display: inline-block;
          @include box(0.1rem, 1.8rem);
          margin: 0 1.2rem;
          background-color: $graydd;
          @include mobile {
            margin: 0 0.8rem;
          }
        }
      }
      > span.product {
        @include flex-center-vert;
        @include font17;
        font-weight: 500;
        color: $gray5a;
        @include mobile {
          flex-direction: row;
          gap: 0;
          @include font13;
        }
      }
      @include mobile {
        margin-left: 2rem;
      }
    }
    > span {
      @include font17;
      font-weight: 500;
      color: $gray5a;
      @include mobile {
        margin-left: 2rem;
        @include font13;
      }
    }
    > button {
      position: absolute;
      top: 4rem;
      right: 3rem;
      &.best-seller {
        top: 6.5rem;
      }
    }
  }
}
