.swiper-container {
  position: relative;
  .swiper.product-list {
    width: 100%;
    height: 43.6rem;
    @include mobile {
      height: 30.4rem;
    }
    &.best-seller {
      @include mobile {
        height: 23.8rem;
        .swiper-slide {
          display: flex;
          justify-content: center;
          width: 36.8rem !important;
          a {
            width: 32.8rem !important;
            .product {
              flex-direction: row;
              width: 32.8rem;
              &__img {
                @include mobile {
                  min-width: 17.6rem;
                }
                &__tire {
                  @include mobile {
                    width: 12.5rem;
                  }
                }
              }
              &__info {
                &__title {
                  white-space: wrap;
                }
              }
            }
          }
        }
      }
    }
    &.rising-product {
      .swiper-wrapper {
        @include mobile {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          gap: 1.6rem;
          width: 100%;
          transform: translate3d(0, 0, 0) !important;
          padding: 0 2rem;
          box-sizing: border-box;
          .swiper-slide {
            width: 100%;
            height: 29rem;
            a {
              width: 100%;
            }
          }
        }
        @media (min-width: 0px) and (max-width: 540px) {
          grid-template-columns: repeat(1, 1fr);
        }
      }
    }
    .swiper-wrapper {
      .swiper-slide.view-all {
        display: none;
      }
      @include mobile {
        height: 30rem;
        .swiper-slide {
          display: flex;
          justify-content: center;
          width: 18rem;
          &.view-all {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 0.8rem;
            width: 14.8rem;
            margin-right: 2rem !important;
            @include font13;
            color: $gray5a;
            cursor: pointer;
            > div {
              display: flex;
              justify-content: center;
              align-items: center;
              width: 3.2rem;
              height: 3.2rem;
              @include bg(
                "svg/arrow_view_all.svg",
                $width: 1.6rem,
                $height: 1.6rem,
                $x: center,
                $y: center
              );
              background-color: $grayec;
              border-radius: 50%;
            }
          }
          a {
            width: 14rem;
          }
        }
      }
    }
    .swiper-pagination {
      display: none;
      &.best-seller {
        @include mobile {
          display: block;
          margin-bottom: 0.5rem;
          .swiper-pagination-bullet {
            width: 0.6rem;
            height: 0.6rem;
            margin: 0 0.24rem;
            background-color: $gray96;
            transition: all 0.3s ease 0s;
          }
          .swiper-pagination-bullet-active {
            width: 1.5rem;
            border-radius: 10rem;
            background-color: $gray28;
          }
        }
      }
    }
  }
  .swiper-button-next.product-list,
  .swiper-button-prev.product-list {
    width: 4rem;
    height: 4rem;
    position: absolute;
    top: 40%;
    border-radius: 4rem;
    @include bg("svg/arrow_next_swiper.svg");
    box-shadow: rgba(0, 0, 0, 0.12) 0 0.2rem 0.8rem 0;
    &::after {
      display: none;
    }
    &[aria-disabled="true"] {
      display: none;
    }
    @include mobile {
      display: none;
    }
  }
  .swiper-button-next.product-list {
    right: -2rem;
  }
  .swiper-button-prev.product-list {
    left: -2rem;
    transform: rotate(180deg);
    box-shadow: rgba(0, 0, 0, 0.12) 0 -0.2rem 0.8rem 0;
  }
}
