.swiper-container {
  position: relative;
  .swiper.product-list {
    @include box(100%, 44rem);
    @include mobile {
      @include box(100%, 30.6rem);
    }
    &.best-seller {
      @include mobile {
        @include box(100%, 23.8rem);
        .swiper-wrapper {
          @include box(100%, 23.8rem);
          .swiper-slide {
            @include flex-center-horiz;
            @include box(36.8rem, 17.6rem);
            a {
              @include box(32.8rem);
              .product {
                flex-direction: row;
                @include box(32.8rem);
                &__img {
                  @include mobile {
                    min-width: 17.6rem;
                  }
                  &__tire {
                    @include mobile {
                      @include box(12.5rem);
                    }
                  }
                }
                &__info {
                  &__title {
                    white-space: wrap;
                  }
                }
              }
            }
          }
        }
      }
    }
    &.rising-product {
      .swiper-wrapper {
        @include mobile {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          gap: 1.6rem;
          @include box(100%);
          transform: translate3d(0, 0, 0) !important;
          padding: 0 2rem;
          box-sizing: border-box;
          .swiper-slide {
            @include box(100%);
            height: 29rem;
            a {
              @include box(100%);
            }
          }
        }
        @media (min-width: 0px) and (max-width: 540px) {
          grid-template-columns: repeat(1, 1fr);
        }
      }
    }
    .swiper-wrapper {
      .view-all {
        display: none;
      }
      @include mobile {
        .swiper-slide {
          @include flex-center-horiz;
          @include box(18rem);
          &.view-all {
            > a {
              @include flex-center-column;
              gap: 0.8rem;
              width: 14.8rem;
              height: 100%;
              margin-right: 2rem !important;
              @include font13;
              color: $gray5a;
              cursor: pointer;
              > div {
                @include flex-center;
                width: 3.2rem;
                height: 3.2rem;
                @include bg(
                  "svg/arrow_view_all.svg",
                  $width: 1.6rem,
                  $height: 1.6rem,
                  $x: center,
                  $y: center
                );
                background-color: $grayec;
                border-radius: 50%;
              }
            }
          }
          a {
            @include box(14rem);
          }
        }
      }
    }
    .swiper-pagination {
      display: none;
      &.best-seller {
        @include mobile {
          display: block;
          margin-bottom: 0.5rem;
          .swiper-pagination-bullet {
            @include boxSquare(0.6rem);
            margin: 0 0.24rem;
            background-color: $gray96;
            transition: all 0.3s ease 0s;
          }
          .swiper-pagination-bullet-active {
            @include box(1.5rem);
            border-radius: 10rem;
            background-color: $gray28;
          }
        }
      }
    }
  }
  .swiper-button-next.product-list,
  .swiper-button-prev.product-list {
    @include boxSquare(4rem);
    position: absolute;
    top: 40%;
    border-radius: 4rem;
    @include bg("svg/arrow_next_swiper.svg");
    box-shadow: rgba(0, 0, 0, 0.12) 0 0.2rem 0.8rem 0;
    &::after {
      display: none;
    }
    &[aria-disabled="true"] {
      display: none;
    }
    @include mobile {
      display: none;
    }
  }
  .swiper-button-next.product-list {
    right: -2rem;
  }
  .swiper-button-prev.product-list {
    left: -2rem;
    transform: rotate(180deg);
    box-shadow: rgba(0, 0, 0, 0.12) 0 -0.2rem 0.8rem 0;
  }
}
