.review-card {
  display: flex;
  justify-content: space-between;
  gap: 4rem;
  padding: 2rem;
  position: relative;
  background-color: $whitef6;
  border-radius: 0.8rem;
  box-sizing: border-box;
  user-select: none;
  @include mobile {
    max-height: 50rem;
    flex-direction: column;
    gap: 1.6rem;
    background-color: $white;
    box-shadow: rgba(0, 0, 0, 0.12) 0 0 1.6rem;
    overflow: hidden;
  }
  &__left {
    .customer-cartype {
      font-weight: 400;
      @include font15;
      color: $gray28;
      @include mobile {
        @include font13;
      }
      .customer {
        padding-right: 1rem;
        @include mobile {
          font-weight: 700;
          font-size: 1.4rem;
        }
      }
      .cartype {
        position: relative;
        padding-left: 1.4rem;
        &::before {
          content: "";
          @include boxSquare(0.3rem);
          @include position(left, 0, top, 50%);
          border-radius: 0.3rem;
          background-color: $gray28;
        }
      }
    }
    .star-rate {
      @include flex-center-vert;
      gap: 0.8rem;
      margin-top: 1rem;
      @include mobile {
        img {
          @include box(1.6rem);
        }
      }
      .date {
        @include font13;
        color: $gray5a;
      }
    }
    .customer-review {
      max-width: 36.9rem;
      margin: 2rem 0;
      font-weight: 400;
      @include font15;
      color: $gray28;
      word-break: keep-all;
      @include mobile {
        max-width: 100%;
        @include box($height: 8rem);
        margin: 1.2rem 0;
      }
      &:not(.--active) {
        text-overflow: ellipsis;
        overflow: hidden;
        -webkit-line-clamp: 7;
        -webkit-box-orient: vertical;
        display: -webkit-box;
        @include mobile {
          -webkit-line-clamp: 4;
        }
      }
      &.--active {
        max-width: 100%;
        @include box($height: fit-content);
      }
    }
    .review-more {
      margin-bottom: 3.2rem;
      font-weight: 500;
      @include font15;
      text-decoration: underline;
      color: $gray5a;
      @include mobile {
        margin-bottom: 2.2rem;
      }
    }
    .review-imgs {
      display: flex;
      gap: 0.8rem;
      margin-bottom: 1.6rem;
      li {
        border-radius: 0.8rem;
        overflow: hidden;
        cursor: pointer;
        img {
          @include box(8rem);
          aspect-ratio: 1/1;
        }
      }
    }
    .review-tags {
      display: flex;
      flex-wrap: wrap;
      gap: 1.2rem;
      margin-bottom: 1.6rem;
      @include mobile {
        gap: 0.8rem;
      }
    }
    .recommend-btn {
      @include flex-center-vert;
      gap: 0.4rem;
      padding: 0.6rem 1.4rem 0.6rem 1.2rem;
      border: 0.1rem solid $graydd;
      border-radius: 10rem;
      background-color: $white;
      font-weight: 500;
      @include font15;
      @include mobile {
        display: none;
      }
      &::before {
        content: "";
        @include boxSquare(1.8rem);
        @include bg("svg/thumb.svg");
      }
      > span {
        font-weight: 700;
      }
    }
  }
  &__right {
    min-width: 25.6rem;
    @include box($height: fit-content);
    padding: 2rem;
    background-color: $white;
    border: 0.1rem solid $grayec;
    border-radius: 0.8rem;
    @include mobile {
      @include flex-column;
      gap: 1.6rem;
      min-width: 20rem;
      margin-bottom: 5.4rem;
      padding: 1.2rem;
      border: none;
    }
    .product-info {
      display: flex;
      gap: 1.6rem;
      margin-bottom: 1.6rem;
      padding-bottom: 1.6rem;
      border-bottom: 0.1rem solid $grayec;
      @include mobile {
        align-items: center;
        gap: 1rem;
        position: relative;
        margin-bottom: 0;
        padding-bottom: 0;
        border-bottom: none;
        padding: 0.8rem;
        border-radius: 0.8rem;
        border: 0.1rem solid $grayec;
        cursor: pointer;
        &::after {
          content: "";
          @include boxSquare(2.4rem);
          position: absolute;
          right: 0.8rem;
          @include bg("svg/circle_arrow.svg", $width: 2.4rem, $height: 2.4rem);
        }
      }
      &__img {
        @include flex-center;
        @include boxSquare(8.8rem);
        position: relative;
        border-radius: 0.8rem;
        background-color: $whitef6;
        overflow: hidden;
        @include mobile {
          min-width: 6rem;
          @include boxSquare(6rem);
          background-color: $whitef6;
        }
        .img-label {
          position: absolute;
          top: 0;
          left: 0;
          padding: 0.2rem 0.6rem;
          border-radius: 0.8rem 0;
          line-height: 1.4rem;
          font-weight: 500;
          font-size: 1.3rem;
          text-transform: uppercase;
          color: $white;
          &.hot {
            background-color: $purple;
          }
          &.best {
            background-color: $red;
          }
          @include mobile {
            padding: 0.2rem 0.4rem;
            font-size: 1rem;
          }
        }
        img {
          @include box(6rem);
          aspect-ratio: 1/1;
        }
      }
      &__txt {
        @include flex-column;
        gap: 0.4rem;
        font-weight: 400;
        @include font15;
        color: $gray5a;
        @include mobile {
          gap: 0;
          @include font13;
        }
        .title {
          @include font17;
          word-break: keep-all;
          color: $gray28;
          @include mobile {
            @include font13;
          }
        }
        .review-customer {
          @include font13;
        }
      }
    }
    .store-info {
      min-height: 8.6rem;
      @include mobile {
        min-height: 0;
        padding: 1.2rem;
        border: 0.1rem solid $grayec;
        border-radius: 0.8rem;
        background-color: $whitef6;
      }
      .service-item {
        @include flex-center-vert;
        flex-direction: row;
        gap: 0.8rem;
        &::before {
          content: "";
          display: inline-block;
          @include boxSquare(2.4rem);
          @include mobile {
            display: none;
          }
        }
        > div {
          @include flex-column;
          @include mobile {
            flex-direction: row;
          }
          span {
            font-weight: 400;
            @include font15;
            color: $gray28;

            @include mobile {
              @include font13;
              color: $gray5a;
            }
            &:last-child {
              font-weight: 400;
              @include font13;
              color: $gray96;

              @include mobile {
                margin-left: 0.2rem;
                &::before {
                  display: none;
                }
              }
            }
          }
        }
        @include mobile {
          span {
            display: flex;
            &::before {
              content: "";
              min-width: 1.8rem;
              @include box($height: 1.8rem);
              @include bg("svg/dot.svg");
            }
          }
        }
      }
      .visit,
      .shipping,
      .replacement {
        font-weight: 400;
        @include font15;
        color: $gray28;
        @include mobile {
          @include font13;
          color: $gray5a;
        }
      }
      .visit::before {
        @include bg("svg/repair.svg", $width: 2.4rem, $height: 2.4rem);
      }
      .shipping::before {
        @include bg("svg/delivery.svg", $width: 2.4rem, $height: 2.4rem);
      }
      .replacement::before {
        @include bg("svg/type/type=tire2.svg", $width: 2.4rem, $height: 2.4rem);
      }
      .service-item.wheelalign,
      .service-item.wheelbalance {
        margin: 0.8rem 0;

        @include mobile {
          margin: 0;
        }
      }
      .wheelalign::before {
        @include bg(
          "svg/type/type=repair.svg",
          $width: 2.4rem,
          $height: 2.4rem
        );
      }
      .wheelbalance::before {
        @include bg(
          "svg/type/type=wheel-balance.svg",
          $width: 2.4rem,
          $height: 2.4rem
        );
      }
      .store-location {
        @include mobile {
          margin-bottom: 0;
          word-break: keep-all;
        }
        &::before {
          @include bg(
            "svg/type/type=spot.svg",
            $width: 2.4rem,
            $height: 2.4rem
          );
        }
      }
    }
    .more-btn.product {
      @include box(100%);
      margin-top: 1.6rem;
    }
  }
}
