$review-icons: (
  jedong: "svg/review-tags/review_jedong.svg",
  seoungchagam: "svg/review-tags/review_seoungchagam.svg",
  soeum: "svg/review-tags/review_soeum.svg",
  gosoc: "svg/review-tags/review_gosoc.svg",
  clean: "svg/review-tags/review_clean.svg",
  gaseongbi: "svg/review-tags/review_gaseongbi.svg",
  chinjul: "svg/review-tags/review_chinjul.svg",
  sulmyung: "svg/review-tags/review_sulmyung.svg",
  ddabong: "svg/review-tags/review_ddabong.svg",
  jaebangmun: "svg/review-tags/review_jaebangmun.svg",
  huegesil: "svg/review-tags/review_huegesil.svg",
  choisin: "svg/review-tags/review_choisin.svg",
  budrum: "svg/review-tags/review_budrum.svg",
  mikrub: "svg/review-tags/review_mikrub.svg",
  conur: "svg/review-tags/review_conur.svg",
);

@mixin review-tag-icon($icon) {
  &.#{$icon}::before {
    @include bg(map-get($review-icons, $icon), $width: 1.6rem, $height: 1.6rem);
  }
}

.review-tag {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  padding: 0.4rem 0.8rem;
  background-color: $whitef1;
  border-radius: 0.4rem;
  font-weight: 500;
  @include font15;
  color: $gray28;
  @include mobile {
    padding: 0.6rem;
    @include font13;
  }
  &::before {
    content: "";
    @include boxSquare(1.6rem);
  }
  @each $icon, $path in $review-icons {
    @include review-tag-icon($icon);
  }
}
