.search {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 36rem;
  line-height: 20px;
  padding: 10px 16px;
  background-color: #f1f3f6;
  border: 0.1rem solid #dddfe2;
  border-radius: 20rem;
  cursor: pointer;
  &:hover {
    background-color: #eceef1;
  }
  span {
    padding-top: 0.1rem;
    font-size: 1.7rem;
    font-weight: 500;
    color: #5a5c60;
  }
}
.search__wrap {
  position: relative;
  .search__content {
    width: 70rem;
    height: 30rem;
    margin-top: 1rem;
    position: absolute;
    left: auto;
    right: 0;
    border: 0.1rem solid #dddfe2;
    border-radius: 1.6rem;
  }
}
