.search {
  position: relative;
  z-index: 10;
  &__btn {
    display: flex;
    align-items: center;
    gap: 1rem;
    width: 33rem;
    line-height: 2rem;
    padding: 1rem 1.6rem;
    background-color: $whitef1;
    border: 0.1rem solid $graydd;
    border-radius: 20rem;
    cursor: pointer;
    &:hover {
      background-color: #eceef1;
    }
    span {
      padding-top: 0.1rem;
      font-size: 1.7rem;
      font-weight: 500;
      color: $gray5a;
    }
  }
  &__contents {
    width: 79.8rem;
    margin-top: 1rem;
    padding: 1.2rem;
    @include position(left, auto, right, 0);
    background-color: $white;
    border: 0.1rem solid $graydd;
    border-radius: 1.6rem;
    box-shadow: rgba(0, 0, 0, 0.12) 0 0.2rem 1.6rem;
    nav {
      position: relative;
      .search__tab-focus {
        width: 26rem;
        @include position(left, 0.8rem, top, 50%);
        padding: 1.2rem 0;
        background-color: $white;
        box-shadow: rgba(0, 0, 0, 0.06) 0 0.2rem 0.4rem;
        border-radius: 0.8rem;
        white-space: nowrap;
        transition: all 0.3s ease 0s;
        font-weight: 700;
        font-size: 2.2rem;
        color: #282a2e;
        text-align: center;
      }
      ul {
        display: flex;
        line-height: 5rem;
        padding: 0.8rem;
        background-color: $whitef1;
        border-radius: 0.8rem;
        color: $gray5a;
        font-size: 2.2rem;
        font-weight: 700;
        .search__tab {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          cursor: pointer;
          a {
            width: 100%;
            text-align: center;
          }
        }
      }
    }
    &--content {
      padding: 2.4rem 1.2rem 1rem;
      .search__radio-group {
        display: flex;
        gap: 1.6rem;
        span {
          padding: 0.4rem 0.8rem 0.4rem 1.2rem;
          cursor: pointer;
          &:has(input[type="radio"]:checked) {
            background-color: #ebfaef;
          }
          input[type="radio"] {
            display: none;
            &:checked + label {
              background-image: url("../../assets/images/svg/radio_active.svg");
            }
          }
          label {
            display: inline-block;
            padding-left: 2rem;
            @include bg(
              "svg/radio.svg",
              $x: left,
              $y: center,
              $width: 1rem,
              $height: 1rem
            );
            font-size: 1.7rem;
            font-weight: 500;
            color: #282a2e;
            cursor: pointer;
          }
        }
      }
      .search__contents--select {
        display: none;
        margin-top: 3.8rem;
        &.--active {
          display: block;
        }
        &.select1 {
          span {
            padding: 0;
            font-weight: 400;
            @include font15;
            color: #3c3e42;
            cursor: auto;
          }
          .search__form-inputs {
            display: flex;
            gap: 0.8rem;
            margin: 0.8rem 0 1.6rem;
            input {
              @include inputBox;
              &::placeholder {
                color: #bec0c4;
              }
            }
            button {
              @include searchBtn;
            }
          }
          .search__consent-options {
            display: flex;
            gap: 1.6rem;
            input[type="checkbox"] {
              display: none;
              &:checked + label {
                background-image: url("../../assets/images/svg/check_active.svg");
              }
            }
            label {
              display: inline-block;
              padding-left: 2rem;
              @include bg(
                "svg/check.svg",
                $x: left,
                $y: center,
                $width: 1.5rem,
                $height: 1.5rem
              );
              line-height: 2.4rem;
              font-size: 1.5rem;
              font-weight: 400;
              color: $gray5a;
              cursor: pointer;
            }
          }
        }
        &.select2 {
          span {
            display: block;
            margin-bottom: 0.8rem;
            padding: 0;
            @include font13;
            font-weight: 500;
            color: rgb(60, 62, 66);
          }
          > div {
            display: flex;
            gap: 1rem;
            .search__search-btn {
              min-width: 20rem;
              @include searchBtn;
            }
          }
        }
      }
    }
  }
}

.search__custom-select {
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;
  @include bg(
    "svg/chevron_down-black.svg",
    $x: right calc(1.2rem),
    $y: center,
    $width: 2.4rem
  );
  border: 0.1rem solid $graydd;
  border-radius: 0.8rem;
  .search__option-label {
    width: inherit;
    height: 100%;
    padding-left: 1.2rem;
    background-color: transparent;
    color: $gray96;
    font-size: 1.7rem;
    font-weight: 400;
    text-align: left;
    cursor: pointer;
  }
  .search__select-option {
    display: none;
    max-height: 17rem;
    @include position(top, 4.8rem, left, 0);
    width: 100%;
    border-radius: 0.8rem;
    background-color: $white;
    box-shadow: rgba(0, 0, 0, 0.16) 0 0.2rem 0.8rem;
    overflow-y: auto;
  }
  &.--active {
    @include bg(
      "svg/chevron_up-black.svg",
      $x: right calc(1.2rem),
      $y: center,
      $width: 2.4rem
    );
    border: 0.1rem solid $purple;
  }
  &.--active .search__select-option {
    display: block;
  }
  .search__select-option-item {
    padding: 1.2rem 1.4rem;
    color: $gray96;
    font-size: 1.6rem;
    cursor: pointer;
    &.selected {
      @include bg(
        "svg/input_check_selected.svg",
        $x: right calc(1.2rem),
        $y: center,
        $width: 2
      );
      color: $purple;
    }
    &:hover {
      background-color: #f6f8fb;
    }
  }
}
