// Position
@mixin position($x, $xvalue, $y, $yvalue) {
  position: absolute;
  #{$x}: $xvalue;
  #{$y}: $yvalue;
  @if $xvalue == 50% and $yvalue == 50% or $yvalue == -50% {
    transform: translate(-50%, -50%);
  } @else if $xvalue == 50% {
    transform: translateX(-50%);
  } @else if $yvalue == 50% {
    transform: translateY(-50%);
  }
}

// Responsive
@mixin mobile {
  @media (min-width: 0px) and (max-width: $web) {
    @content;
  }
}
@mixin mobileMin {
  @media (min-width: 0px) and (max-width: $webMin) {
    @content;
  }
}

// Background - 파일명, x축, y축, 배경색, 가로크기, 세로크기
@mixin bg(
  $filename,
  $x: null,
  $y: null,
  $color: null,
  $width: null,
  $height: null
) {
  background: url(#{$imageUrl}#{$filename}) no-repeat $x $y $color;
  background-size: $width $height;
}

// IR
@mixin hide {
  display: block;
  width: 0.1rem;
  height: 0.1rem;
  position: absolute;
  border: 0;
  clip: rect(0.1rem, 0.1rem, 0.1rem, 0.1rem);
  overflow: hidden;
}

@mixin inputBox {
  width: 100%;
  line-height: 2.4rem;
  padding: 1.2rem;
  border: 0.1rem solid #dddfe2;
  border-radius: 0.8rem;
  outline: none;
  font-size: 1.7rem;
  font-weight: 400;
}

@mixin searchBtn {
  height: 4.8rem;
  padding: 1.2rem 2rem;
  border-radius: 0.8rem;
  white-space: nowrap;
  font-weight: 500;
  font-size: 1.7rem;
  background-color: #7b3ff1;
  color: #fff;
  transition: background 0.3s ease 0s;
  &:disabled {
    background-color: #f1f3f6;
    color: #bec0c4;
  }
}
