// 색상정의
$purple: #7b3ff1;
$skyblue: #28aeed;
$black: #000000;
$gray28: #282a2e;
$gray5a: #5a5c60;
$gray96: #96989c;
$graybe: #bec0c4;
$graydd: #dddfe2;
$grayec: #eceef1;
$whitef1: #f1f3f6;
$whitef6: #f6f8fb;
$white: #fff;

// 이미지경로
$imageUrl: "../../assets/images/";

// 반응형기준
$web: 769px;
$webMin: 380px;

// 메인넓이
$width: 118.4rem;
